
.date-picker-week-days {
    display: flex;
    padding: 5px;
}

.hover {
    background: #d7eff8;
}

.selected-date {
    background: #169de0;
    border-radius: 4px;
}

.date-picker-week-days .date {
    cursor: pointer;
}

.date {
    padding: 10px;
    height: 15px;
    width: 30px;
    text-align: center;
}

.date:hover {
    background: #e2e2e2;
}

.date.selected-date:hover {
    background: #169de0;
}

.weekend-date {
    padding: 10px;
    height: 15px;
    width: 30px;
    text-align: center;
    cursor: default;
}

.highlight {
    border: 2px solid #000;
}

.opacity {
    opacity: 0.5;
}