.date-picker-input {
    width: 250px;
    position: relative;
}

.date-picker-input input {
    width: inherit;
    padding: 10px;
}

.date-picker-input input:hover {
    cursor: default;
}

.date-picker-icon {
    position: absolute;
    top: 12px;
    right: -12px;
    cursor: pointer;
}

.fa-close.date-picker-icon:hover {
    color: #ff0000
}